body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* COMMON FLEX */
.flex-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  height: auto;
}

.space-between {
  align-content: space-between;
}

/* .space-between {
  justify-content: space-between;
} */

/* MENU */

.content {
  /* min-width: 1128px; */
  margin: 0 auto;
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
}

.ms-menu {
  display: flex;
  flex-direction:row;
}

.ms_menu_holder {
  padding-left: 8px ;
  padding-right: 8px ;
  text-align: left ;
  background-color: transparent ;
  border: 1px solid rgba(0,0,0,0.1) ;
  border-radius: 3px ;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) ;
  margin-bottom: 4px ;
  margin-right: 20px;
  padding: 0px ;
  overflow: hidden ;
  width: 25% ;
  box-sizing: border-box;
  display:flex;
  flex-direction:row;
}

.ms_menu_text {
  display:flex;
  flex-direction:column;
  text-align: left ;
  padding-top: 14px ;
  padding-left: 20px ;
  padding-right: 20px ;
}

.ms_menu_img {
  display:flex;
  flex-direction:column;
}

.ms_menu_img div {
  margin: 0px;
  padding: 0px;
}

.ms_menu_img div img {
  margin: 0px;
  padding: 0px;
}

.ms_menu_text div {
  margin: 0px ;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 15px ;
  line-height: 18px ;
  letter-spacing: 0.2px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: #484848 ;
  font-weight: 700 ;
}

/* SECTION */

.ms-section-holder {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* SECTION TITLE */

.ms-section-title {
  margin-bottom: 16px;
}

.ms-section-title div h1 {
  font-weight: 700;
  margin-bottom: 0px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 28px;
  line-height: 32px ;
  letter-spacing: -0.6px ;
  padding-top: 2px ;
  padding-bottom: 2px ;
  color: #484848 ;
}



/* SINGLE ITEM */

.default-padding {
  padding-left: 8px ;
  padding-right: 8px ;
  padding-bottom: 12px ;
}

.ms_item_holder {
  position: relative ;
  width: 25%;
}

.ms_item_holder div {
  text-align: left;
}

.ms_item_holder div img {
  border-radius: 3px ;
}

.ms_item_cat div p {
  color: #787878;
  font-weight: 700 ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 12px ;
  line-height: 16px ;
  letter-spacing: 0.4px ;
  text-transform: uppercase ;
  white-space: nowrap ;
  margin-top: 4px;
  margin-bottom: 4px; 
}

.ms_item_title div p {
  font-weight: 700 ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 19px ;
  line-height: 22px ;
  letter-spacing: undefined ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: #484848 ;
  max-height: 44px ;
  overflow: hidden ;
  text-overflow: ellipsis ;
  display: -webkit-box ;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical ;
  margin-top: 4px;
  margin-bottom: 4px; 
}

.ms_item_price div p {
  font-weight: normal ;
  margin: 0px ;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 12px ;
  line-height: 16px ;
  letter-spacing: 0.4px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
  color: #484848 ;
  display: inline ;
}

.ms-item-like-container {
  position: absolute;
  top: 16px;
  right: 70px;
}

.ms-item-like-container div {
  position: relative;
  background: transparent ;
  border: 0px ;
  cursor: pointer ;
  padding: 0px ;
  display: inline-block ;
  white-space: nowrap ;
}

.ms-like-btn {
  height:32px;
  width:32px;
  display:block;

  position: absolute ;
  display: block ;
}